/* CSS declarations go here */
h4 {
	margin-top: 0;
}

.new-tweet {
	margin: 0;
}
.new-tweet input {
	width: 365px;
}

.well {
	position: relative;
}
.well .delete {
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	background: #ddd;
	border: none;
	width: 30px;
	line-height: 30px;
	padding: 0;
}
.well footer {
	border-top: 1px solid #e5e5e5;
	margin-top: 10px;
	padding-top: 10px;
}

#login-buttons a{
	text-decoration: none;
	background: #0088cc;
	color: #fff;
	padding: 6px 10px;
	border-radius: 3px;
}