<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Twittest</title>
</head>

<body>
  <div class="container">
    <div class="page-header">
      {{> loginButtons}}
      <h1>Twittest <small>Simplest twitter ever</small></h1>

      {{#if currentUser}}
        <form class="new-tweet">
          <input id="new-tweet-text" type="text" name="text" placeholder="Type and Hit Enter to add new tweet" />
        </form>
      {{/if}}
    </div>

    {{> tweetList}}
  </div>
</body>

<template name="tweetList">
	{{#each tweets}}
    {{> tweetItem}}
  {{/each}}
</template>

<template name="tweetItem">
  <div class="well">
    <h4>@{{username}}</h4>
    <div>{{tweet}}</div>

    {{#if currentUser}}
      <footer>
        {{#if isFavorite}}
          <a href="#" class="unfavorite"><span class="badge">{{favoriteCount}}</span> Undo Favorite</a>
        {{else}}
          <a href="#" class="favorite"><span class="badge">{{favoriteCount}}</span> Favorite</a>
        {{/if}}
      </footer>
    {{/if}}

    {{#if ownTweet}}
      <button class="delete">&times;</button>
    {{/if}}
  </div>
</template>